<li>
  <%= link_to profile_path(follower), :class => 'user' do %>
    <%= image_tag(follower.avatar.v50.url) %>
    <%= follower.name %>
    <span><%= pluralize follower.followers_count, 'Follower', 'Followers' %></span>
    <span><%= follower.following_count %> Following</span>
  <% end %>
  <%= render 'profiles/follow_buttons', :to_follow => follower, :in_list => true %>
</li>
