<div class="modal_overlay">
  <%= form_for @profile, :url => profile_path(@profile), :html => {:class => "form narrow signup"} do |f| %>
    <%= hidden_field_tag :from, 'step_2' %>
    <h1>Last Step, Tell Us About Yourself</h1>

    <%= render 'form_fields', :f => f %>

    <div class="submit">
      <%= f.submit "Finish, Go to Profile &rarr;".html_safe, :class => 'btn tertiary_action' %>
    </div>
    <div class="buttons">
      <a href="<%= activity_profile_path(@profile) %>">skip this</a>
    </div>
  <% end %>
</div>
