<div class="wrapper profile">

  <div class="content board board_wide">
    <%= form_for(@profile, :url => profile_path(@profile), :html => { :method => :put, :class => 'form narrow' }) do |f| %>
      <%= hidden_field_tag :from, 'account' %>
      <h1>
        Edit Account
        <span>[ <%= link_to 'profile', edit_profile_path(@profile) %> ]</span>
      </h1>
      <%= error_messages_for @profile %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "Password <span>(leave blank if you don't want to change it)</span>".html_safe %><br />
        <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Password' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
      </div>

      <div class="field">
        <%= f.label :current_password, "Current Password <span>(required to edit account settings)</span>".html_safe %><br />
        <%= f.password_field :current_password, :placeholder => 'Current Password' %>
      </div>

      <div class="submit"><%= f.submit "Update", :class => 'btn tertiary_action' %></div>
      
      <div class="buttons">
        <br/>
        <p>Unhappy? <%= link_to "Cancel your account", registration_path(@profile), :data => { :confirm => "Are you SURE? This will remove all your pins, and is NOT reversible." }, :method => :delete %>.</p>
      </div>
    <% end %>
  
  </div>
  <div class="clearfix"></div>
</div>