<h1>
  <span><%= current_user == @profile ? 'Your' : "#{@profile.name}'s" %> Board:</span>
  <%= @board.name %>
</h1>
<%= render 'shared/filters' %>

<div class="controls">
  <%= link_to 'Edit', edit_board_path(@board), :class => "btn sec_action edit_button ajax" %>
</div>

<%= render 'pins/pins' %>