<% if @profile.followers_count.zero? %>
  <h1><span><%= @profile.name %></span> isn't being followed by anyone</h1>
<% else %>
  <h1><span><%= @profile.name %>'s</span> <%= pluralize @profile.followers_count, "Follower's", "Followers'" %> Recent Activity</h1>

  <div class="followers_list">
    <ul class="users">
      <% @profile.followers.each do |user| %>
        <%= render 'follower', :follower => user %>
      <% end %>
    </ul>
  </div>

<% end %>

<%= render 'shared/filters' %>

<div class="clearfix"></div>
<%= render 'pins/pins' %>
