<% if @profile.following_count.zero? %>
  <h1><span><%= @profile.name %></span> isn't following anyone yet</h1>
<% else %>
  <h1><span><%= @profile.name %></span> is following <%= @profile.following_count %> other user. Their recent activity:</h1>

  <div class="followers_list">
    <ul class="users">
      <% @profile.following.each do |user| %>
        <%= render 'follower', :follower => user %>
      <% end %>
    </ul>
  </div>

<% end %>

<%= render 'shared/filters' %>

<div class="clearfix"></div>
<%= render 'pins/pins' %>
