<li class="board" data-sort-id="<%= board.id %>">
  <h3><%= link_to board.name, profile_board_path(board.user, board) %></h3>
  <% unless @profile %>
    <h4>
      <%= link_to pins_profile_path(board.user) do %>
        <%= image_tag board.user.avatar.v50.url, :alt => "#{board.user.name}'s avatar" %><%= board.user.name %>
      <% end %>
    </h4>
  <% end %>
  <h4>
    <%= pluralize board.pins_count, 'pin', 'pins' %>
    /
    <%= pluralize board.followers_even_indirectly_count, 'follower', 'followers' %>    
  </h4>
  <div class="holder">
    <%= link_to '', profile_board_path(board.user, board), :class => "link" %>
    
    <% if board.user == current_user %>
      <%= link_to 'Edit cover image', edit_cover_profile_board_path(board.user, board), :class => "link-on-hover ajax" %>
    <% else %>
      <%= link_to 'View this board', profile_board_path(board.user, board), :class => "link-on-hover" %>
    <% end %>
    
    <div class="cover">
      <%= image_tag board.cover.url, :class => 'board_image' %>
    </div>
    <div class="thumbs">
      <% thumbnails_for_board(board).each do |src| %>
        <%= image_tag src, :class => 'board_image' %>
      <% end %>
    </div>
    <div class="description">
      <p>
        <strong><%= board.category.name %></strong>
        <span class="<%= 'truncate-me' unless board.description.blank? %>">: <%= board.description.blank? ? 'No description provided' : board.description %></span>
      </p>
    </div>
  </div>
  <% if user_signed_in? && current_user != board.user %>
    <div class="follow_holder">
      <%= render "/board/follow_buttons", :board => board %>
    </div>
  <% else %>
    <div class="follow_holder">
      <p class="mine">your board</p>
    </div>
  <% end %>
</li>