<li class="board">
  <h3><%= link_to board.name, profile_board_path(board.user, board) %></h3>
  <h4>
    <%= link_to pins_profile_path(board.user) do %>
      <%= image_tag board.user.avatar.v50.url, :alt => "#{board.user.name}'s avatar" %>
      <%= board.user.name %>
    <% end %>
  </h4>
  <div class="holder">
    <%= link_to '', profile_board_path(board.user, board), :class => 'link' %>
    <div class="cover">
      <%= image_tag board.cover.url, :class => 'board_image' %>
    </div>
    <div class="thumbs">
      <% board.thumbnails.each do |src| %>
        <%= image_tag src, :class => 'board_image' %>
      <% end %>
    </div>
    <div class="description">
      <p><%= board.description.blank? ? 'No description provided' : board.description.truncate(100, :separator => ' ') %></p>
    </div>
  </div>
</li>