<div class="board_comments">
  <a href="#" id="message_toggle" class="btn sec_action comment_button right">
    <% if @board.comments_count.zero? %>
      Add first comment!
    <% elsif @board.comments_count == 1 %>
      Reply to comment!
    <% else %>
      See all <%= @board.comments_count %> comments
    <% end %>
  </a>
  <h2>Board Talk</h2>
  <div id="comment_form_wrapper"><%= render 'comments/form', :commentable => @board %></div>
  <% if @board.comments_count > 0 %>
    <ul class="comments">
      <%= render :partial => 'comment', :object => @board.comments.first, :locals => {:first => true} %>
    </ul>
  <% end %>
  
  <% if @board.comments_count > 1 %>
    <div id="more_comments">
      <ul class="comments">
        <%= link_to 'Load More', profile_board_comments_path(@board.user, @board), :class => "btn action tertiary_action load_more_comments_button", :remote => true %>
      </ul>
    </div>
  <% end %>  
</div>

<% content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
  
      $("#message_toggle").click(function() {
        $("#more_comments").is(':visible') ? $("#more_comments").slideUp("slow") : $("#more_comments").slideDown("slow");
        $("#comment_form_wrapper").is(':visible') ? $("#comment_form_wrapper").slideUp("slow") : $("#comment_form_wrapper").slideDown("slow");
        
        $('.load_more_comments_button').trigger('click');
        return false;
      });

      $(document).on('click', '.load_more_comments_button', function(e) {
        $("<%= escape_javascript(image_tag('ui/loader.gif', :alt => 'Loading', :class => 'loader_icon')) %>").insertBefore( $(e.target) );
      });
  
    });
  </script>
<% end %>