<div class="field">
  <%= f.label :name, 'Board Name' %>
  <%= f.text_field :name, :placeholder => "Be specific and creative!" %>
</div>

<div class="field">
  <%= f.label :category_id, "Select a Category" %>
  <%= f.select :category_id, select_options(Category.all) %>
</div>

<div class="field">
  <%= f.label :description, 'Description' %>
  <%= f.text_area :description, :placeholder => "Explain what types of ParentPins you'll be collecting on this board." %>
</div>
