<% if @profile %>
  <h1><span><%= @profile.name %>'s</span> Boards List</h1>

  <div class="clearfix"></div>
    <% if @profile == current_user %>
      <div class="sortable-wrapper" data-sortable-endpoint="<%= sort_profile_board_index_path(@profile) %>">
    <% else %>
      <div>
    <% end %>
    <%= render 'board/boards' %>
  </div>
    
<% else %>
  <div class="wrapper">
      <div class="content board_wide">
        <h1>Trending Boards<% if @category %> :: <%= @category.name %><% end %></h1>
    
        <%= render 'board/boards' %>
      </div>
  
      <div class="clearfix"></div>
  </div>
<% end %>