<% if @profile %>
  <h1><span><%= @profile.name %>'s</span> Boards List</h1>

  <% if @profile == current_user %>
    <div class="page-controls">
      <%= link_to 'Reorder Boards', '#', :class => 'start-sorting', 'data-endpoint' => sort_profile_board_index_path(@profile), 'data-sort' => 'ul.boards' %>
      <%= link_to 'Stop Reordering', '#', :class => 'stop-sorting', 'data-sort' => 'ul.boards' %>
    </div>
  <% end %>
  

  <div class="clearfix"></div>
  <%= render 'board/boards' %>
    
<% else %>
  <div class="wrapper">
      <div class="content board_wide">
        <h1>Trending Boards<% if @category %> :: <%= @category.name %><% end %></h1>
    
        <%= render 'board/boards' %>
      </div>
  
      <div class="clearfix"></div>
  </div>
<% end %>