<% if @profile %>
  <h1>
    <% if current_user == @profile %>
      Boards You Have Created
    <% else %>
      <%= @profile.name %>'s Boards
          <% end %>
  </h1>

  <div class="page-controls my-board-controls">
    <% if @profile == current_user %>
      <%= link_to 'Add Board', new_profile_board_path(current_user), :class => 'ajax' %>
      |
      <% if params[:category].blank? %>
        <% unless @boards.blank? %>
          <%= link_to 'Reorder Boards', '#', :class => 'start-sorting', 'data-endpoint' => sort_profile_board_index_path(@profile), 'data-sort' => 'ul.boards' %>
          <%= link_to 'Stop Reordering', '#', :class => 'stop-sorting', 'data-sort' => 'ul.boards' %>
        <% end %>
      <% else %>
        <%= link_to 'Remove filters', profile_boards_path(@profile) %>
        to reorder boards
      <% end %>
    <% else %>
      <%= render 'profile/follow_buttons', :to_follow => @profile %>
    <% end %>
  </div>
  
  


  <hr class="header-divider">

  <%= render 'board/boards' %>
    
<% else %>
  <div class="wrapper">
      <div class="content board_wide">
        <h1><% if @category %>Trending Boards :: <%= @category.name %><% else %>Top 75 Trending Boards<% end %></h1>
    
        <%= render 'board/boards' %>
      </div>
  
      <div class="clearfix"></div>
  </div>
<% end %>