<% if @profile %>
  <h1>
    <% if current_user == @profile %>
      Boards You Have Created
    <% else %>
      <%= @profile.name %>'s Boards
          <% end %>
  </h1>

  <% if @profile == current_user %>
    <div class="page-controls">
      <% if params[:category].blank? %>
        <% unless @boards.blank? %>
          <%= link_to 'Reorder Boards', '#', :class => 'start-sorting', 'data-endpoint' => sort_profile_board_index_path(@profile), 'data-sort' => 'ul.boards' %>
          <%= link_to 'Stop Reordering', '#', :class => 'stop-sorting', 'data-sort' => 'ul.boards' %>
        <% end %>
      <% else %>
        <%= link_to 'Remove filters', profile_boards_path(@profile) %>
        to reorder boards
      <% end %>
    </div>
  <% end %>
  

  <div class="clearfix"></div>
  <%= render 'board/boards' %>
    
<% else %>
  <div class="wrapper">
      <div class="content board_wide">
        <h1>Trending Boards<% if @category %> :: <%= @category.name %><% end %></h1>
    
        <%= render 'board/boards' %>
      </div>
  
      <div class="clearfix"></div>
  </div>
<% end %>