<div class="board_description">
  <h1>
    <%= @board.name %>
    <% if user_signed_in? %>
      <% if current_user != @profile %>
        <%= render 'board/follow_buttons', :board => @board %>
      <% end %>
    <% end %>
  </h1>
  <% if user_signed_in? %>
    <div class="board-controls">
      <% if current_user == @profile %>
        <%= link_to 'Edit Board', edit_profile_board_path(current_user, @board), :class => "ajax" %>
        |
        <%= link_to 'Edit Cover Image', edit_cover_profile_board_path(current_user, @board), :class => "ajax" %>
      <% end %>
    </div>
  <% end %>
  <div class="board_stats">
    <span class="stat pins_count"><%= pluralize @board.pins_count, 'pin', 'pins' %></span>
    <span class="stat followers_count"><%= pluralize @board.followers_even_indirectly_count, 'follower', 'followers' %></span>
    <span class="stat comments_count"><span class="comment-count-for-board-<%= @board.id %>"><%= @board.comments.count %></span> <%= @board.comments.count == 1 ? 'comment' : 'comments' %></span>
    <span class="stat">Category: <%= @board.category.name %></span>
  </div>
  <p class="description"><%= @board.description %></p>
</div>







<%= render 'comments' %>

<%= render 'pins/pins' %>