<div class="board_description">
  <% if user_signed_in? %>
    <div class="board-controls">
      <% if current_user == @profile %>
        <%= link_to 'Edit', edit_profile_board_path(current_user, @board), :class => "ajax" %>
      <% else %>
        <%= render 'board/follow_buttons', :board => @board %>
      <% end %>
    </div>
  <% end %>
  <h1>
    <a href="<%= profile_boards_path(@board.user) %>" class="user">
      <%= image_tag @board.user.avatar.v30.url, :alt => "#{@board.user.name}'s avatar" %>
      <%= current_user == @board.user ? 'Your' : "#{@board.user.name}'s" %>
    </a>
    Board: <%= @board.name %>
  </h1>
  <p class="description"><%= @board.description %></p>
  <div class="board_stats">
    <span class="pins_count"><%= pluralize @board.pins_count, 'pin', 'pins' %></span>
    <span class="followers_count"><%= pluralize @board.followers_even_indirectly_count, 'follower', 'followers' %></span>
    <span>Category: <%= @board.category.name %></span>
  </div>
  
  <div class="clearfix"></div>
</div>







<%= render 'comments' %>

<%= render 'pins/pins' %>