<div class="wrapper profile">

  <div class="content board board_wide">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form narrow signup'}) do |f| %>
      <h1>Sign Up with ParentPins</h1>
      <a href="#" class="btn btn_facebook">Sign up via Facebook</a>
      <p class="helper" style="text-align:center;margin:0;padding:30px 0 4px 0;display:block;">- OR -</p>
      
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, :placeholder => 'Your Email' %>
      </div>

      <div class="field">
        <%= f.text_field :username, :placeholder => 'Pick a Username' %>
      </div>

      <div class="field">
        <%= f.password_field :password, :placeholder => 'Create Password' %>
      </div>

      <div class="submit">
        <%= f.submit "Create Your Account", :class => 'btn tertiary_action' %>
      </div>
      
      <div class="buttons">
        <a href="/login.html">Already signed up? login here</a>
      </div>
    <% end %>

  </div>
  <div class="clearfix"></div>
</div>