<% if user_signed_in? %>
  <div class="actions">
    <% if pin.user_id == current_user.id %>
      <a class="btn sec_action edit_button ajax" href="<%= edit_pin_path(pin) %>">Edit</a>
    <% else %>
      <a class="btn sec_action repin_button ajax" href="<%= repin_path(pin) %>">Repin</a>
    <% end %>
    
    <% does_like = current_user.likes?(pin) %>
    <a class="btn sec_action like_button <%= 'hidden' unless does_like %>" href="#" data-url="<%= unlike_pin_path(pin) %>">Unlike</a>
    <a class="btn sec_action like_button <%= 'hidden' if does_like %>" href="#" data-url="<%= like_pin_path(pin) %>">Like</a>
    
    <a class="btn sec_action comment_button" href="#pinly_comment">Comment</a>
  </div>
<% end %>