<div class="actions">
  <%= share_pin_via_fb_link(pin) %>
  <%= share_pin_via_email_link(pin) %>
  
  <% if user_signed_in? %>  
    <% if pin.user_id == current_user.id %>
      <a class="btn sec_action edit_button ajax" href="<%= edit_pin_path(pin) %>">Edit</a>
    <% else %>
      <a class="btn sec_action repin_button ajax" href="<%= repin_path(pin) %>">Repin</a>
    <% end %>
  
  
    <% does_like = current_user.likes?(pin) %>
    <a class="btn sec_action like_button <%= 'hidden' unless does_like %>" href="#" data-url="<%= unlike_pin_path(pin) %>">Unlike</a>
    <a class="btn sec_action like_button <%= 'hidden' if does_like %>" href="#" data-url="<%= like_pin_path(pin) %>">Like</a>

    <% unless defined?(skip_comments) && skip_comments %>
      <a class="btn sec_action comment_button" href="#pinly_comment">Comment</a>
    <% end %>
    
  <% else %>
    <a class="btn sec_action like_button" href="<%= login_first_path %>">Like</a>
  <% end %>
</div>