<div class="field">
  <%= f.label :name, 'Pin Title' %>
  <%= f.text_field :name, :placeholder => 'Pin Title' %>
</div>

<div class="field">
  <%= f.label :description, 'Description...' %>
  <%= f.text_area :description, :placeholder => "First few sentences please, this Pin will link to the full article" %>        
</div>

<div class="field">
  <%= f.label :kind, 'Type of Pin' %>
  <%= f.select :kind, select_options(Pin::VALID_TYPES) %>
</div>

<div class="field field-price<%= ' hidden' unless @pin.kind == 'product' %>">
  <%= f.label :price, 'Price' %>
  <%= f.text_field :price, :placeholder => "$0.00" %>
</div>

<div class="field">
  <%= f.label :board_id, 'Pin to Which Board?' %>
  <%= f.select :board_id, select_options([['Add New Board', '']] + current_user.boards), {}, 'data-new-board' => @pin.board.try(:new_record?) %>
</div>

<div class="board-fields">
  <% @pin.build_board if @pin.board.blank? || !@pin.board.new_record? %>
  <%= f.fields_for :board do |b| %>
    <%= render 'boards/form', :f => b %>
  <% end %>
</div>

<div class="submit">
  <%= f.submit 'Save Pin', :class => 'btn tertiary_action' %>
</div>