<div class="field">
  <%= f.label :kind, 'Type of Pin:' %>
  <% f.object.kind ||= Pin::VALID_TYPES.first %>
  <% Pin::VALID_TYPES.each do |kind| %>
    <label class="radio_opt">
      <%= f.radio_button :kind, kind %>
      <%= kind.titleize %>
    </label>
  <% end %>
</div>

<div class="field field-price<%= ' hidden' unless @pin.kind == 'product' %>">
  <%= f.label :price, 'Price <span>(optional)</span>'.html_safe %>
  <%= f.text_field :price, :placeholder => "$0.00" %>
</div>

<div class="field">
  <%= f.label :age_group_id, "Select an Age Group" %>
  <%= f.select :age_group_id, select_options(AgeGroup.all_cached) %>
</div>

<div class="field">
  <%= f.label :description, 'Description...' %>
  <%= f.text_area :description, :placeholder => "First few sentences please, this Pin will link to the full article" %>        
</div>

<div class="field">
  <%= f.label :board_id, 'Pin to Which Board?' %>
  <%= f.select :board_id, select_options([['Add New Board', '']] + current_user.boards), {}, 'data-username' => current_user.to_param %>
</div>

<div class="board-fields hidden">
  <%= f.fields_for :board, Board.new((params[:pin] || {})[:board_attributes]) do |b| %>
    <%= render 'board/form', :f => b %>
  <% end %>
</div>

<div class="submit">
  <%= f.submit 'Save Pin', :class => 'btn tertiary_action' %>
</div>