<li class="pin pin-context <%= dom_id(pin) %>">
  <% unless pin.new_record? || params[:action] == 'edit' %>
    <%= render 'pins/actions', :pin => pin %>
  <% end %>
  <div class="bind-price price<%= ' hidden' unless pin.price %>"><%= number_to_currency pin.price %></div>
  <%= link_to pin, :class => 'ajax image_link' do %>
    <%= image_tag pin.image.v222.url, :class => 'pin_image', :alt => 'Pin image' %>
  <% end %>
  <p class="description">
    <a href="<%= url_for(pin) %>" class="ajax">
      <strong class="bind-kind kind <%= pin.kind %>"><%= pin.kind.to_s.titleize %>:</strong>
      <span class="bind-description"><%= pin.description %></span>
    </a>
  </p>
  <%= render 'pins/stats', :pin => pin %>
  <div class="attribution">
    <%= link_to image_tag(pin.user.avatar.v30.url, :alt => "#{pin.user.name}'s avatar"), profile_path(pin.user), :title => pin.user.name, :class=> 'image_link' %>
    <p class="details">
      <%= link_to pin.user.name, profile_path(pin.user) %>
      <% if pin.via %>
        via
        <%= link_to pin.via.name, profile_path(pin.via) %>
      <% end %>

      <span class="bind-board_id">
        onto
        <%= (pin.board && !pin.board.new_record?) ? link_to(pin.board.name, profile_board_path(pin.user, pin.board)) : 'Unknown Board' %>
      </span>
      <br/>
      Age Group: <strong class="bind-age_group_id"><%= pin.age_group ? pin.age_group.name : 'Not Specified' %></strong>
    </p>
  </div>
  <% if user_signed_in? && !pin.new_record? %>
    <div class="comment">
      <%= render 'comments/form', :commentable => pin %>
    </div>
  <% end %>
</li>