<li class="pin <%= dom_id(pin) %>">
  <% unless pin.new_record? %>
    <%= render 'pins/actions', :pin => pin %>
  <% end %>
  <% if pin.price %>
    <div class="gift_price"><%= number_to_currency pin.price %></div>
  <% end %>
  <%= link_to pin, :class => 'ajax image_link' do %>
    <%= image_tag pin.image.v192.url, :class => 'pin_image', :alt => 'Pin image' %>
  <% end %>
  <p class="description"><a href="<%= url_for(pin) %>"><strong class="kind <%= pin.kind %>"><%= pin.kind.to_s.titleize %>:</strong> <%= pin.name %></a></p>
  <%= render 'pins/stats', :pin => pin %>
  <div class="attribution">
    <%= link_to image_tag(pin.user.avatar.v30.url, :alt => "#{pin.user.name}'s avatar"), profile_path(pin.user), :title => pin.user.name %>
    <p class="details">
      <%= link_to pin.user.name, profile_path(pin.user) %>
      <% if pin.via %>
        via
        <%= link_to pin.via.name, profile_path(pin.via) %>
      <% end %>
      <% if pin.board %>
        onto
        <%= link_to pin.board.name, board_path(pin.board) %>
      <% end %>
    </p>
  </div>
  <% if user_signed_in? && !pin.new_record? %>
    <div class="comment">
      <%= form_for Comment.new, :url => add_comment_pin_path(pin) do |f| %>
        <%= link_to image_tag(current_user.avatar.v30.url, :alt => "#{current_user.name}'s avatar"), profile_path(current_user), :title => current_user.name %>
        <%= f.text_area :body, :placeholder => 'Add a comment...', :maxlength => 10000 %>
        <%= f.submit 'Comment', :class => "Button WhiteButton Button11 grid_comment_button", :style => 'display: inline-block' %>
      <% end %>
    </div>
  <% end %>
</li>