<%= render 'shared/filters' unless @pins.blank? && !@filtered %>

<% if @pins.blank? %>
  <div class="empty-results">
    <% if @profile.blank? %>
      <h2>No pins to show</h2>
    <% elsif @board %>
      <h2>No pins <%= 'matching these filters' if @filtered %> on this board yet.</h2>
    <% else %>
      <% if params[:action] == 'likes' %>
        <% if @profile == current_user %>
          <h2>You haven't liked anything yet!</h2>
          <p>To like something, simply click the "Like" button that appears when you hover over a pin.</p>
        <% else %>
          <h2><%= @profile.name %> hasn't liked anything yet.</h2>
        <% end %>
      
      <% else %>
        <% if @profile == current_user %>
          <% if @filtered %>
            <h2>No pins match these filters.</h2>
          <% else %>
            <h2>No pins here yet!</h2>
            <p>Get started by creating a board and then checking out some of the <%= link_to 'trending pins', pins_path %> or <%= link_to 'featured users', featured_path %> to see what great content has already been added to ParentPins.</p>
            <p>To ParentPin something you found on the web, first drag this <%= bookmarklet_link %> link to your bookmarks bar and then use that to ParentPin content from any site.</p>
            <p>
              <%= link_to 'Create a Board', new_profile_board_path(current_user), :class => 'ajax btn large primary' %>
              <%= link_to 'Add a Pin', new_pin_path, :class => 'ajax btn large primary' %>
            </p>
          <% end %>
        <% else %>
          <h2><%= @profile.name %> has no pins <%= 'matching these filters' if @filtered %> to show.</h2>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <ul class="masonry timeline ajax-pagination <%= 'select_featured' if params[:context] == 'select_featured' %>" id="pins">
    <%= render @pins %>
  </ul>
  <div class="clearfix"></div>
  <%= pagination_link %>
  <div class="clearfix"></div>
<% end %>