<li class="pin <%= pin.kind %>">
  <div class="actions">
    <a href="/pin/pin_id/repin/" class="btn sec_action repin_button">Repin</a>
    <a href="#" class="btn sec_action like_button">Like</a>
    <a href="#" class="btn sec_action comment_button">Comment</a>
  </div>
  <% if pin.price %>
    <div class="gift_price"><%= number_to_currency pin.price %></div>
  <% end %>
  <a href="specific_pin.html" class="image_link">
    <img src="/assets/temp/art_2.jpg" class="pin_image">
  </a>
  <p class="description"><a href="specific_pin.html"><strong class="<%= pin.kind %>"><%= pin.kind.titleize %>:</strong> <%= pin.name %></a></p>
  <div class="stats">
    <span class="like_count">2 likes</span>
    <span class="comment_count">3 comments</span>
    <span class="repins_count">4 repins</span>
  </div>
  <div class="attribution">
    <a class="image_link" title="User Name" href="/path_to_user_profile">
      <img alt="Profile picture of User Name" src="/assets/temp/avatar_30.jpg"/>
    </a>
    <p class="details">
      <%= link_to pin.user.name, profile_path(pin.user) %>
      <% if pin.via %>
        via
        <%= link_to pin.via.name, profile_path(pin.via) %>
      <% end %>
      onto
      <%= link_to pin.board.name, board_path(pin.board) %>
    </p>
  </div>
  <% if user_signed_in? %>
    <div class="comment">
      <a class="image_link" title="<%= current_user.name %>" href="<%= profile_path(current_user) %>">
        <img alt="<%= current_user.name %>'s avatar" src="/assets/temp/avatar_30.jpg"/>
      </a>
      <form method="POST" action="/pin/pin_id/comment/">
        <input class="pin_comment_replies" type="hidden" name="replies">
        <textarea class="add_comment" placeholder="Add a comment..." maxlength="1000"></textarea>
        <button class="Button WhiteButton Button11 grid_comment_button" type="button" style="display: inline-block;">Comment</button>
      </form>
    </div>
  <% end %>
</li>