<div class="<%= modal_class %>">
  <div class="repin-success-wrapper">
    <h2>Success!</h2>
    <%= link_to_function 'X', 'Global.closeModal()', :class => 'close-btn' %>
    <p class="message">
      <% if @pin.via_id %>
        Repinned to your
      <% else %>
        Your pin was pinned to your
      <% end %>
      <%= link_to @pin.board.name, profile_board_url(@pin.user, @pin.board) %> board.
    </p>

    <div class="buttons repin">
      <%= link_to "View Pin", pin_url(@pin), :class => 'btn sec_action view_pin' %>
      <p>Share this pin with your friends.</p>
      <%= share_pin_via_fb_link(@pin) %>
    </div>
  </div>
</div>