<div class="wrapper">
  <div class="content board_wide">
    <h1>
      Search Results 
      <% unless params[:q].blank? %>
        for "<%= params[:q] %>"
      <% end %>
      <span class="count">(<%= @results.length %>)</span>
    </h1>
    
    <div class="search_navigation">
      <%= search_links ['pins', 'boards', 'users'] %>
    </div>
    
    <% if @results.blank? %>
      <div class="empty-results"><h2>There are no <%= @kind.pluralize %> to show.</h2></div>
    <% else %>
      <ul class="ajax-pagination masonry <%= search_classes_by_kind %>">
        <% @results.each do |r| %>
          <%= render :partial => partial_for_class(r), :object => r %>
        <% end %>
      </ul>
      
      <div class="clearfix"></div>
      <%= pagination_link %>
      <div class="clearfix"></div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

