<div class="wrapper">
  <div class="content board board_wide">
    <h1>
      Search Results 
      <% unless params[:q].blank? %>
        for "<%= params[:q] %>"
      <% end %>
      (<%= @results.count %>)
    </h1>
    
    <h3 class="search_navigation">
      <%= search_links ['pins', 'boards', 'users'] %>
    </h3>
    
    <% if @results.blank? %>
      <div class="empty-results">No <%= @kind.pluralize %> to show.</div>
    <% else %>
      <ul class="timeline<%= ' followers_list user_results' if @kind = 'user' %>" id="pins">
        <%= render @results %>
      </ul>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>

