<% content_for :header do %>
  <%= stylesheet_link_tag "highlight.css", :media => "all" %>
<% end %>

<% content_for :footer_js do %>
  <script type="text/javascript" charset="utf-8">
    // Because bootstrap's affix/scrollspy automatically jumps, but doesn't take into account the header padding
    window.originalLocationHash = window.location.hash;
  </script>
  <%= javascript_include_tag "faq.js" %>
<% end %>

<div class="wrapper general container">

  <div class="content row span12">
    <h1 class="centered">ParentPins: <acronym title="Frequently asked questions">FAQ</acronym>s</h1>
    
    <div id="faq_nav_wrapper" class="span3">
      <ul class="spy_navbar bs-docs-sidenav internal_nav faq_nav nav">
        <li><a href="#what-is"><i class="icon-chevron-right"></i>What is ParentPins?</a></li>
        <li><a href="#bookmarklet"><i class="icon-chevron-right"></i>How do I Pin things?</a></li>
        <li><a href="#importing"><i class="icon-chevron-right"></i>Can I import from Pinterest?</a></li>
        <% if false %><li><a href="#endorse"><i class="icon-chevron-right"></i>What does endorsement mean?</a></li><% end %>
        <li><a href="#pin-types"><i class="icon-chevron-right"></i>What's with the different pin types?</a></li>
        <li><a href="#change-password"><i class="icon-chevron-right"></i>How do I change my email/password?</a></li>
        <li><a href="#following"><i class="icon-chevron-right"></i>Where's recent activity I might like?</a></li>
        <li><a href="#followers"><i class="icon-chevron-right"></i>How do I get followers?</a></li>
        <li><a href="#featured"><i class="icon-chevron-right"></i>What are Featured Users?</a></li>
        <li><a href="#pinning-opt-out"><i class="icon-chevron-right"></i>Can content owners opt out of pinning?</a></li>
        <li><a href="#pinning-encouragement"><i class="icon-chevron-right"></i>Can content owners encourage pinning?</a></li>
        <li><a href="#advertising"><i class="icon-chevron-right"></i>How can I advertise with ParentPins?</a></li>
        <li><a href="#other"><i class="icon-chevron-right"></i>Who can I contact for more info?</a></li>
      </ul>
    </div>

    <dl class="span6 offset1 faq_content">
      <dt id="what-is">What is ParentPins?</dt>
      <dd>
        <p>ParentPins is a site dedicated to all things kid-related.  Parents, teachers, and older kids can use ParentPins to visually browse and bookmark their favorite ideas and resources.</p>
        <p>Pins are coded with one of seven age groups, a pin type (idea, product, or article), and one of many kid-specific categories.  This advanced filtering system helps users more effectively find relevant content.</p>
      </dd>

      <dt id="bookmarklet">How do I add pin things?</dt>
      <dd>
        <p>The ParentPin Bookmarklet allows you to pin from any site on the web.  To add the bookmarklet to your browser, simply drag the following link to your bookmarks/favorites bar: <%= bookmarklet_link %></p>
      </dd>


      <dt id="importing">I already have a lot of parent and child-related pins on Pinterest.  Is there a way to easily move these over to ParentPins?</dt>
      <dd>
        <p>
          Fortunately, yes! To import pins from Pinterest, follow these simple steps:
          <ul>
            <li>1. Add the <a href="#bookmarklet" class="internal_nav">ParentPins Bookmarklet</a> to your bookmarks bar. </li>
            <li>2. Log into your Pinterest account.  </li>
            <li>3. Click the ParentPins bookmarklet while you are on your Pinterest page.</li>
          </ul>
          This will start the importing process.
        </p>
        <p>As part of the import you'll have a chance to create new ParentPin boards as you go.  You'll also get to specify category, pin type, and age group for each of the pins you import.  Depending on how many pins you're importing it might take a few minutes to complete, but we've made the process as quick and painless as possible. 
        </p>
      </dd>      

      <%# TODO: add this in once endorsing is implemented %>
      <% if false %>
      <dt id="endorse">What does it mean to endorse a pin?</dt>
      <dd>
        <p>Endorsing a pin means you're putting your stamp of approval on it.  While liking a pin simply means you have some level of interest, endorsing acts as a +1 vote.</p>
        <p>Examples of when you might want to endorse a pin:
          <ul>
            <li>You've clicked through to the original article and found that the source link works and the actual information is helpful and descriptive.</li>
            <li>You've used the product and can recommend it.</li>
            <li>You have actually made the craft or followerd the advice of a pin and found it to be accurate.</li>
          </ul>
        </p>
      </dd>
      <% end %>

      <dt id="pin-types">What is the distinction between an idea, product, or article pin?</dt>
      <dd>
        <p>An idea can be a game or activity, a clever organizational tip, or photo of a nursery design.  "Idea" is the most all-encompassing pin type, so if you're unclear how to categorize your pin, you should choose this option.</p>
        <p>A product is a physical item that one could potentially purchase.  The product pin doesn't have to link to a store or include a set price, but those things are helpful for other ParentPinners.  Examples of a product pin would include books, toys, items for a classroom, baby wraps, or video games for your teen.</p>
        <p>An article is something that you'll need to click through to the original link to get the full information.  Examples of an article pin would include parenting advice, resource guides, or detailed instructions for a craft or science experiment.</p>
      </dd>

      <dt id="change-password">How do I change my password or email address?</dt>
      <dd>
        <p>You can change your password and email address from the "Edit Profile &amp; Account" link that appears when you hover over your username at the top of the page when logged in.</p>
      </dd>

      <dt id="following">Where can I see all the pins from the users and boards I follow?</dt>
      <dd>
        <p>You can view the pins of everyone you follow from your Activity page.  You can access this page from your profile or by hovering over your username in the top right corner of the site and selecting Activity from the dropdown options.</p>
      </dd>

      <dt id="followers">How can I get other users to follow me?</dt>
      <dd>
        <p>The more you pin interesting content, the more other users will want to follow your boards to see what you pin next.</p>
        <p>Additionally, one of the best ways to get more followers is to engage in the community; participate in lively discussion with other ParentPinners, comment on their boards, repin <em>their</em> content.  You can also do simple things - like uploading a profile photo and choosing eye-catching images for your board covers - to communicate your investment in the community.</p>
        <p>
          If you're a blog or website owner, add the 
          <a href="#" class="link-to-section" data-section="pinning-encouragement">ParentPins Follow Button</a> 
          to your site to encourage your readers to follow you here.
        </p>
        <p>But the simplest solution? Get the ball rolling and follow someone first!</p>
      </dd>
      

      <dt id="featured">What is the Featured page?  How can I get featured?</dt>
      <dd>
        <p>The Featured page highlights some of our community's most active contributors. This is the place to learn more about popular ParentPinners, discover new resources in the online parenting community, and find new users to follow.</p>
        <p>If you'd like to be featured and you're prolific on the site, please <%= mail_to "christy@parentpins.com", 'send us an email', :subject => "Request to be Featured", :encode => 'javascript' %> with the subject line "Request to be Featured".</p>
      </dd>

      <dt id="pinning-opt-out">Can I opt out of allowing someone else to pin my content?</dt>
      <dd>
        <p>
          Absolutely. To prevent users from pinning images on your site, add the following code to the HEAD section of your HTML:
          <pre><code><%= '<meta name="pinning" content="nopin" />' %></code></pre>
        </p>
        <p>
          If you'd like to provide an explanatory message to users to attempt to pin, add a description field:
          <pre><code><%= %q{<meta name="pinning" content="nopin" description="Sorry, we don't allow pinning!" />} %></code></pre>
        </p>
        <p>
          To disable pinning a specific image, add a "nopin" attribute:
          <pre><code><%= %q{<img src="foo.jpg" nopin="nopin" />} %></code></pre>
        </p>
      </dd>

      <dt id="pinning-encouragement">Can I encourage others to pin my content?</dt>
      <dd>
        <p>Yup! If you're a website owner, you can add a ParentPin It! button to your website by following two steps.</p>
        <p>First, add a link where you want the button to be:
        <pre><code><%= %Q{<a href="//#{host}#{bookmarklet_embed_path}" data-pin-action="buttonBookmarklet" ><img src="//#{host}/assets/widgets/pin_button.png" /></a>} %></code></pre>
        </p>
        <p>Second, add this script tag just above the closing &lt;/body&gt; tag:
        <pre><code><%= %Q{<script type="text/javascript" src="//#{host}/assets/widgets.js"></script>} %></code></pre>
        </p>
        <p>You can add as many links as you'd like, but only include the script tag once per page.</p>
      </dd>

      <dt id="advertising">How can I advertise with ParentPins?</dt>
      <dd>
        <p>If you'd like to learn about options for advertising with ParentPins, please <%= mail_to "advertising@parentpins.com", 'send us an inquiry email', :encode => 'javascript' %>.</p>
      </dd>

      <dt id="other">I have a problem that isn't addressed here; who can I contact?</dt>
      <dd>
        <p>If you have a problem or issue - or feedback of any kind! - please don't hesitate to contact us.  You can <%= mail_to "info@parentpins.com", 'send us an email', :encode => 'javascript' %> or use the <%= link_to 'contact submission form', new_feedback_path %>.</p>
      </dd>
    </dl>
  
  </div>
  <div class="clearfix"></div>

</div>
