<li class="user">
  <%= link_to profile_path(user) do %>
    <%= image_tag user.avatar.v50 %>
    <%= user.name %>
    <span><%= pluralize user.followers_count, 'Follower', 'Followers' %></span>
    <span><%= user.following_only_users_count %> Following</span>
  <% end %>
</li>
