<div class="set_filters">
  <span>Filter:</span>
  <ol>
    <% if defined?(@pins) %>
      <li>
        <a href="#" class="selected"><%= @kind.try(:titleize) || 'All Pin Types' %></a>
        <ol>
          <li><%= link_to 'All Pin Types', url_for(params.merge(:kind => nil)), :class => @kind.blank? ? 'current' : '' %></li>
          <% Pin::VALID_TYPES.each do |kind| %>
            <li><%= link_to kind.titleize, url_for(params.merge(:kind => kind)), :class => @kind == kind ? 'current' : '' %></li>
          <% end %>
        </ol>
      </li>

      <li class="<%= 'last' if defined?(@board) %>">
        <a href="#" class="selected"><%= @age_group.try(:name) || 'All Age Groups' %></a>
        <ol>
          <li><%= link_to 'All Age Groups', url_for(params.merge(:age_group => nil)), :class => @age_group.blank? ? 'current' : '' %></li>
          <% AgeGroup.all.each do |age| %>
            <li><%= link_to age.name, url_for(params.merge(:age_group => age.id)), :class => @age_group.try(:id) == age.id ? 'current' : '' %></li>
          <% end %>
        </ol>
      </li>
    <% end %>
    
    <% unless defined?(@board) %>
      <li class="last categories">
        <a href="#" class="selected"><%= @category.try(:name) || 'All Categories' %></a>
        <ol>
          <li><%= link_to 'All Categories', url_for(params.merge(:category => nil)), :class => @category.blank? ? 'current' : '' %></li>
          <% Category.all.each do |cat| %>
            <li><%= link_to cat.name, url_for(params.merge(:category => cat.id)), :class => @category.try(:id) == cat.id ? 'current' : '' %></li>
          <% end %>
        </ol>
      </li>
    <% end %>
  </ol>
</div>
