<div class="header_wrapper" id="header_wrapper">
  <div class="header">
    <a href="/" class="logo ir">ParentPins</a>
    <ul class="nav_main">
      <li>
        <%= nav_link 'Trending Pins', '/recent_pins.html' %>
      </li>
      <li>
        <%= nav_link 'Boards', '/board_landing.html' %>
      </li>
      <li>
        <%= nav_link 'Articles', '/articles.html' %>
      </li>
    </ul>
    <form class="search">
      <input type="text" placeholder="Search..."/>
      <button class="btn search_button primary">Go</button>
    </form>
    <ul class="nav_login">
      <% if !logged_in? %>
      <li class="add_pins">
        <%= nav_link '+ Add', 'add_pin', :class => "add" %>
        <ul>
          <li>
            <a href="add_pin">+ Pin</a>
          </li>
          <li>
            <a href="add_board">+ Board</a>
          </li>
        </ul>
      </li>
      <li class="profile_link">
        <a href="profile_recent.html" >Hi, User Name</a>
        <ul>
          <li>
            <a href="profile_activity.html">Activity</a>
          </li>
          <li>
            <a href="profile_recent.html">Pins</a>
          </li>
          <li>
            <a href="profile_likes.html">Likes</a>
          </li>
          <li>
            <a href="profile_boards.html">Boards</a>
          </li>
          <li>
            <a href="profile_settings.html" class="settings">Edit Profile / Settings</a>
          </li>
          <li>
            <a href="#" class="logout">Log out</a>
          </li>
        </ul>
      </li>
      <% else %>
      <li>
        <%= nav_link 'Log In', '/login.html', :class => "login" %>
      </li>
      <li>
        <%= nav_link 'Sign Up', '/signup.html', :class => "signup" %>
      </li>
      <% end %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
