<div class="header_wrapper">
  <div class="header">
    <a href="/" class="logo ir">Back to home</a>
    <ul class="nav_main">
      <li>
        <%= nav_link 'Recent Pins', '/recent_pins.html' %>
      </li>
      <li>
        <%= nav_link 'Boards', '/board_landing.html' %>
      </li>
      <li>
        <%= nav_link 'Articles', '/articles.html' %>
      </li>
      <li>
        <%= nav_link 'Kid Stores', '/stores.html' %>
      </li>
    </ul>
    <ul class="nav_login">
      <% if logged_in? %>
      <li class="profile_link">
        <a href="profile_recent.html" >Hi, User Name</a>
        <ul>
          <li>
            <a href="profile_boards.html">Boards</a>
          </li>
          <li>
            <a href="profile_recent.html">Pins</a>
          </li>
          <li>
            <a href="profile_likes.html">Likes</a>
          </li>
          <li>
            <a href="profile_settings.html" class="settings">Settings</a>
          </li>
          <li>
            <a href="#" class="logout">Log out</a>
          </li>
        </ul>
      </li>
      <% else %>
      <li>
        <%= nav_link 'Log In', '/login.html', :class => "login" %>
      </li>
      <li>
        <%= nav_link 'Sign Up', '/signup.html', :class => "signup" %>
      </li>
      <% end %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
