.drag_section_wrapper
  - if @boards.length > 1
    %ul.boards
      %li.selected.board{:data => {'board-id' => 'all'}}
        %span.label Show All Pins
      - @boards.each do |board|
        %li.board{:data => {'board-id' => board.id}}
          %span.label= board.name
          %span.counter{tooltip("Unassigned pins remaining in this board.")}

  %ul.pins.clearfix{:class => @boards.length > 1 ? '' : 'no-boards'}
    - if @boards.first.is_a?(Struct) # Importing external pinterest boards
      - @boards.each do |board|
        - board.pins.each do |pin|
          %li.pin.board-all{:class => "board-#{board.id}", :data => {'pin-external-id' => pin.external_id, 'pin-url' => pin.url, 'pin-image' => pin.cached_remote_image_url}}
            .thumb= image_tag (pin.cached_remote_small_image_url.blank? ? pin.cached_remote_image_url : pin.cached_remote_small_image_url) || pin.image.url, :alt => "Pin Image"
            .hover_info
              .hover_content= pin.description
            .clearfix
      
    - else
      = render :partial => 'pin', :collection => @pins_to_import.select{|p| p.send(attribute_to_set).blank? }
      = yield :import_step_submit_form
