= render 'progress', :step => 5, :title => params[:just_completed] ? "Congrats! You've just imported #{pluralize @pins.length, 'pin', 'pins'}!" : "Congrats! You've just imported #{pluralize @pins.length, 'pin', 'pins'} on #{@import.created_at.strftime("%B %e, %Y")}"

= render 'pins/pins'

- if params[:just_completed]
  - content_for :footer_js do
    :javascript
      importedPins("#{escape_javascript Pin.json_for_pins(@pins)}");
      importCompleted();
