= render 'progress', :step => 3

%p.instructions
  Please drag each pin to a box to assign age groups.

.drop_section_wrapper.clearfix{:data => {:extra_key => :age_group_id}}
  %ul
    - AgeGroup.all.each do |age|
      %li.drop_target{:data => {:age_group_id => age.id}}
        %h3= age.name
        %ul.collection

= render 'drag_section'
    
.submit_bar
  = form_tag pin_import_step_4_path, :id => 'import_form', :data => {:previous => pin_import_step_2_path} do
    = submit_tag "&larr; Previous".html_safe, :class => 'btn secondary previous'
    = hidden_field_tag 'data_string', ''
    = submit_tag "Assign Age Groups &rarr;".html_safe, :class => 'btn primary'
