%h1 
  Importing #{pluralize @pins.length, 'pin', 'pins'} to
  #{@boards.length == 1 ? 'one board' : "#{@boards.length} boards"}

= form_for :importer, :url => pinterest_import_step_2_path, :html => {:class => 'import_form'} do |f|
  %ul.importing_boards
    - @boards.each do |board|
      = f.fields_for 'boards[]', board do |b|
        %li.importing_board
          .board_info
            %h3= board.name
            = image_tag board.cover.url
          %ul.importing_pins
            - @importing[board.id].each do |pin|
              = b.fields_for 'pins[]', pin do |p|
                %li.importing_pin{:class => cycle('even', 'odd')}
                  .pin_photo
                    = image_tag pin.cached_remote_image_url
                    .status_boxes
                      .ageGroupStatus Age
                      .pinTypeStatus Type
                  .pin_info
                    = p.hidden_field :remote_image_url, :value => pin.cached_remote_image_url
                    .line
                      %strong Age Group
                      = p.select :age_group_id, [['Select an Age Group', '']] + select_options(AgeGroup.all)
                    .line
                      %strong Pin Type
                      - Pin::VALID_TYPES.each do |kind|
                        %label.radio_opt
                          = p.radio_button :kind, kind
                          = kind.titleize
                    .line.field-price.hidden
                      %strong 
                        Price
                        %span (optional)
                      = p.text_field :price
                    .line
                      %strong Pin Link
                      = p.text_field :url
                    .line
                      %strong Pin Description
                      = p.text_area :description
  
  .form_button_bar 
    = link_to_function 'Go Back and Modify Selection', 'previousStep()'
    or
    = f.submit 'Import Pins'