= render 'progress', :step => 3

%p.instructions
  Please drag each pin to a box to assign age groups.

.drop_section_wrapper.clearfix
  %ul
    - AgeGroup.all.each do |age|
      %li.drop_target{:data => {:age_group_id => age.id}}
        %h3= age.name
        %ul.collection

= render 'drag_section'
    
.submit_bar
  = form_tag pin_import_step_4_path, :id => 'import_form' do
    = hidden_field_tag 'data_string', ''
    = submit_tag "Assign Age Groups"
