#pp_pinterest_import_wrapper

  #pinterest_section
    .importing_boards
      %ul
        %li.board-all.selected Show All Pins
        - @external_boards.each do |board|
          %li{:class => "board-#{board.id}"}
            Pinterest Board: #{board.name}

    .pin_lists
      = link_to_function 'Hide Previously Imported', 'return false', :id => 'ppTogglePreviouslyImportedPins'
      %h2 Drag your pins to your boards below.
      .importing_pins.previously_imported{'data-initial' => "#{Pin.json_for_pins(user_signed_in? ? current_user.pins : [])}"}
        %h3 Pins previously imported
        %ul
    
      .importing_pins.not_yet_imported
        %h3 Pins not yet imported
        %ul
          - @external_boards.each do |board|
            - board.pins.each do |pin|
              %li.pin.board-all{:class => "board-#{board.id}", :data => {'pin-external-id' => pin.external_id, 'pin-url' => pin.url, 'pin-image' => pin.image_filename}}
                .thumb= image_tag pin.cached_remote_small_image_url.blank? ? pin.cached_remote_image_url : pin.cached_remote_small_image_url, :alt => "Pin Image"
                .clearfix

      .clearfix

  #our_section
    %ul.boards
      - (user_signed_in? ? current_user.boards : []).each do |board|
        = render 'our_board', :board => board
    .clearfix

  .buttons_section
    .left
      = link_to 'Add new board', new_profile_board_path(current_user), :class => 'ajax'

      = link_to_function "Reset Drag/Drop", 'return false', :id => 'ppResetDragDropLink'
      
    
    .right
      = link_to_function 'Import These Pins', 'return false', :id => 'ppSubmitBoardsSortedLink', :class => 'btn tertiary_action'
      
    .clearfix
  .clearfix