- content_for :import_step_submit_form do
  = form_tag pin_import_step_4_path, :id => 'import_form', :class => 'hide_until_complete' do
    = hidden_field_tag 'data_string', ''
    .done
      Congrats, you've assigned all pins!
      = submit_tag "Continue to Step 4 &rarr;".html_safe, :class => 'btn primary'



= render 'progress', :step => 3
.instructions
  Please drag each pin to a box to assign age groups#{', or drag the board name to add all contained pins' if @boards.length > 1}.
  
= render 'drag_section', :attribute_to_set => :age_group_id  
= render 'drop_section', :attribute_to_set => :age_group_id, :droppables => AgeGroup.all_cached.collect{|a| [a.name, a.id, a.description]}