= render 'progress', :step => 2

%p.instructions
  Please drag each pin to a box to assign pin types.

.drop_section_wrapper.clearfix
  %ul
    - Pin::VALID_TYPES.each do |kind|
      %li.drop_target{:data => {:kind => kind}}
        %h3= kind.humanize
        %ul.collection

= render 'drag_section'
    
.submit_bar
  = form_tag pin_import_step_3_path, :id => 'import_form' do
    = hidden_field_tag 'data_string', ''
    = submit_tag "Assign Pin Types"
