<div class="wrapper general">

  <h1>Featured ParentPinners</h1>

  <div class="feat_carousel">
    <% @featured.each do |featured| %>
      <% user = featured.user %>
      <div class="feature">
        <div class="user">
          <%= link_to image_tag(user.avatar.url, :alt => "#{user.name}'s avatar"), profile_path(user), :class => 'avatar' %>
          <%= link_to user.name, profile_path(user), :class => 'user_link' %>
          <p class="board_count"><strong><%= user.boards.count %></strong> Board<%= 's' unless user.boards.count == 1 %></p>
          <div class="follow_section"><%= render 'profile/follow_buttons', :to_follow => user %></div>
          <p class="description"><%= featured.description.blank? ? (user.bio.blank? ? 'No bio provided.' : user.bio) : featured.description %></p>
        </div>

        <% unless user.pins.empty? %>
          <ul id="pins" class="timeline">
            <%= render user.pins.first %>
          </ul>
        <% end %>
      </div>
    <% end %>
    
  </div>
</div>