<li class="board">
  <h3><%= link_to board.name, board %></h3>
  <h4>
    <a href="profile_recent.html">
      <%= image_tag board.user.avatar.v50.url, :alt => "#{board.user.name}'s avatar" %>
      <%= board.user.name %>
    </a>
  </h4>
  <div class="holder">
    <%= link_to '', board, :class => 'link' %>
    <div class="cover">
      <%= image_tag board.cover.url, :class => 'board_image' %>
    </div>
    <div class="thumbs">
      <% board.thumbnails.each do |src| %>
        <%= image_tag src, :class => 'board_image' %>
      <% end %>
    </div>
    <div class="description">
      <p><%= board.description.blank? ? 'No description provided' : board.description %></p>
    </div>
  </div>
</li>