<div class="<%= modal_class %>">
  <div class="wrapper profile">

    <div class="content board board_wide">
      <%= form_for(@board, :html => {:class => 'form narrow edit_board'}) do |f| %>
        <%= hidden_field_tag :via %>
        <h1>
          <% if session[:post_board_url] %>
            Please Create Board
            <div class="subtitle">before adding new pins</div>
          <% else %>
            <%= @board.new_record? ? 'Add' : 'Edit' %> Your Board
          <% end %>
        </h1>

        <%= error_messages_for @board %>

        <div class="field">
          <%= f.label :name, 'Board Name' %>
          <%= f.text_field :name, :placeholder => "Be Specific & Creative!" %>
        </div>

        <div class="field">
          <%= f.label :category_id, "Select a Category" %>
          <%= f.select :category_id, select_options(Category.all) %>
        </div>

        <div class="field">
          <%= f.label :age_group_id, "Select an Age Group" %>
          <%= f.select :age_group_id, select_options([["None Specified", '']] + AgeGroup.all) %>
        </div>

        <div class="field">
          <%= f.label :description, 'Description...' %>
          <%= f.text_area :description, :placeholder => "Explain what types of Pins you'll be collecting on this Board" %>
        </div>
        <div class="submit">
          <%= f.submit 'Save Board', :class => 'btn tertiary_action' %>
        </div>
        
        <% unless @board.new_record? %>
          <div class="buttons">
            <%= link_to 'Delete this Board', @board, :confirm => 'Are you sure you want to remove this board (and all contained pins)?', :method => :delete, :class => 'delete' %>
          </div>
        <% end %>
        
      <% end %>
    
    </div>

    <div class="clearfix"></div>

  </div>
</div>