<div class="wrapper board">

  <div class="content board board_wide">
    <h1>
      <a href="<%= boards_profile_path(@board.user) %>" class="user"><%= image_tag @board.user.avatar.v30.url, :alt => "#{@board.user.name}'s avatar" %><%= @board.user.name %>'s</a> Board: <%= @board.name %>
    </h1>
    
    <% unless @board.description.blank? %>
      <div class="board_description"><%= @board.description %></div>
    <% end %>
    
    <select class="cat_select">
      <option>All Pins</option>
      <option>Articles</option>
      <option>Gifts</option>
      <option>Ideas</option>
    </select>

    <%= render 'pins/pins' %>

    <div class="clearfix"></div>
    <a href="http://localhost:3000/boards/1" class="btn action load_more_button tertiary_action js-pagination" id="loadMoreBtn">View More</a>
  </div>

  <div class="clearfix"></div>

</div>
