<div class="media-preview">
  <%= image_tag params[:media] %>
</div>

<div class="form">
  <%= error_messages_for @pin %>
  
  <%= form_for @pin, :url => popup_pin_url do |f| %>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :via_url %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :remote_image_url, :value => params[:media] %>
    
    <%= render 'pins/form', :f => f %>    
  <% end %>
</div>

<div class="clearfix"></div>