<% if current_user.try(:admin?) %>
  <span class="featuring-action-for-<%= user.id %>">
    <a href="#" data-url="<%= profile_featured_path(user) %>" class="following-action follow <%= 'hidden' if user.featured? %>">make featured</a>
    <a href="#" data-url="<%= profile_featured_path(user) %>" data-ajax-method="DELETE" class="following-action unfollow <%= 'hidden' unless user.featured? %>">remove featured</a>
  </span>
<% end %>