<h1>
  Activity: Pins From Users 
  <% if current_user == @profile %>
    You Follow
  <% else %>
    <%= @profile.name %> Follows
  <% end %>
</h1>

<% if @profile_counters[:following].zero? || @pins.blank? %>
  <%= render 'shared/filters' %>
  <div class="empty-results">
    <% if @profile == current_user %>
      <h2>You haven't followed anyone with pins <%= 'matching these filters' if @filtered %> yet!</h2>
      <p>
        To find users you'd like to follow (and have their pins populate this page), 
        check out a few of our <%= link_to 'trending boards', boards_path %> or <%= link_to 'featured users', featured_path %>.
      </p>
    <% else %>
      <h2><%= @profile.name %> hasn't followed anyone yet.</h2>
    <% end %>
  </div>
<% else %>
  <%= render 'pins/pins' %>
<% end %>

<%= render 'signup_step_2' if params[:step_2] %>
