= content_for :header do
  = stylesheet_link_tag "jcrop"

= content_for :footer_js do
  = javascript_include_tag "jcrop"



.profile
  .content.board
    .section.stacked
      .croppable{:data => {:height => 120, :width => 120, :croppable => 'avatar', :boxheight => 500, :boxwidth => 1020}}
        = form_for current_user, :url => crop_avatar_path, :html => {:class => "form very-wide crop-form", :method => :post} do |f|
          - for attribute in [:avatar_x, :avatar_y, :avatar_w, :avatar_h] do
            = f.hidden_field attribute, :id => attribute
        
          %h1 Customize Avatar Cropping
          %p Your avatar will be resized and/or cropped to 120x120. This page allows you to customize how this is done.
        
          %h3 Full size image
          .field.croppable_wrapper
            = image_tag current_user.avatar.url, :class => 'croppable'
        
          %h3 Preview
          .field.croppable_preview
            .crop_preview_wrapper
              = image_tag current_user.avatar.url, :class => 'crop_preview'
          .field
            .submit
              = f.submit 'Crop Image', :class => 'btn tertiary_action'