= content_for :header do
  = stylesheet_link_tag "jcrop"

= content_for :footer_js do
  = javascript_include_tag "jcrop"



.profile
  .content.board
    .section.stacked
      .croppable{:data => {:height => 160, :width => 1020, :croppable => 'cover_image'}}
        = form_for current_user, :url => crop_cover_image_path, :html => {:class => "form very-wide crop-form", :method => :post} do |f|
          - for attribute in [:cover_image_x, :cover_image_y, :cover_image_w, :cover_image_h] do
            = f.hidden_field attribute, :id => attribute
        
          %h1 Customize Cover Image Cropping
          %p Your header image will be resized and/or cropped to 970x160. This page allows you to customize how this is done.
        
          %h3 Full size image
          .field.croppable_wrapper
            = image_tag current_user.cover_image.url, :class => 'croppable'
        
          %h3 Preview
          .field.croppable_preview
            .crop_preview_wrapper
              = image_tag current_user.cover_image.url, :class => 'crop_preview'
  
          .submit
            = f.submit 'Crop Image'