<div class="profile">

  <div class="content board">
    <%= form_for @profile, :url => profile_path(@profile), :html => {:class => "form wide", :multipart => true} do |f| %>
    <%= hidden_field_tag :from, 'edit' %>
    <h1 id="form_header">Edit Profile &amp; Account Settings</h1>

    <%= error_messages_for @profile %>

    <div class="section stacked">
      <h3>Profile Settings</h3>
      <%= render 'form_fields', :f => f %>

      <div class="field <%= 'with_image' if @profile.avatar? %>">
        <label>
          <%= @profile.avatar? ? 'Update' : 'Upload an' %> Avatar
          <% if @profile.avatar? %>
            <small>
              (<%= link_to 'remove', remove_avatar_path, :method => :post, :'data-confirm' => "Are you sure you want to remove your avatar?" %>
              or <%= link_to 'recrop', crop_avatar_path %>)
            </small>
          <% end %>
        </label>
        <%= image_tag(@profile.avatar.v50.url) if @profile.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <div class="clearfix"></div>
      </div>      

      <div class="field">
        <label>
          <%= @profile.cover_image? ? 'Update' : 'Upload a' %> Cover Image 
          <% if @profile.cover_image? %>
            <small>
              (<%= link_to 'remove', remove_cover_image_path, :method => :post, :'data-confirm' => "Are you sure you want to remove your cover image?" %>
              or <%= link_to 'recrop', crop_cover_image_path %>)
            </small>
          <% end %>
          <span>(Will be cropped to 1020x160)</span>  
        </label>
        <% if @profile.cover_image? %>
        <div class="cover_image_preview">
          <%= image_tag(@profile.cover_image.url(:cropped)) %>
        </div>
        <% end %>
        <%= f.file_field :cover_image %>
        <%= f.hidden_field :cover_image_cache %>
        <div class="clearfix"></div>
      </div>      
    </div>
    
    <div class="section stacked">
      <h3>Account Settings</h3>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "Password <span>(leave blank if you don't want to change it)</span>".html_safe %>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Password' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Password Confirmation' %>
        <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
      </div>

      <div class="field">
        <%= f.label :current_password, "Current Password <span>(required to edit account settings)</span>".html_safe %>
        <%= f.password_field :current_password, :placeholder => 'Current Password' %>
      </div>

    </div>

    <div class="section stacked">
      <h3>Social Media</h3>
      <p class="form_hint">You can either enter your username or copy/paste in your account URL.</p>
      <div class="field">
        <%= f.label :facebook_account, 'Facebook' %>
        <%= f.text_field :facebook_account, :placeholder => 'e.g. facebook.com/YourUsername' %>
      </div>

      <div class="field">
        <%= f.label :twitter_account, 'Twitter' %>
        <%= f.text_field :twitter_account, :value => f.object.twitter_account.blank? ? nil : "@#{f.object.twitter_account}", :placeholder => 'e.g. @YourHandle' %>
      </div>

      <div class="field">
        <p>Do you have an external website?</p>
        <%= f.url_field :website, :placeholder => "e.g. your blog URL" %>
      </div>
    </div>
    
    

    <% if f.object.featured? %>
      <div class="section stacked">
        <h3>
          Featured Settings
          <small>(<%= link_to 'unfeature', profile_featured_path(current_user), :method => 'DELETE', :'data-confirm' => "Are you sure you want to remove yourself from the list of featured users? You will not be able to undo this action." %>)</small>
        </h3>

        <div class="field">
          <p>Featured page description <span class="character_counter" data-max="400" data-target="user_featured_bio"></span></p>
          <%= f.text_area :featured_bio, :placeholder => "Description to be used on the Featured page" %>
        </div>
            
        <div class="field edit-featured-pin">
          <p>Your featured pin <small>(<%= link_to 'change', pins_profile_path(f.object, :context => 'select_featured') %>)</small></p>
          <%= link_to image_tag(f.object.featured_pin.image.v55.url, :class => 'pin_image'), pin_url(f.object.featured_pin), :class => 'ajax' %>
        </div>

        <h3 class="clear">Featured Preview</h3>
        <div class="field-full field feature-preview">
          <%= render :partial => 'featured/user', :object => f.object %>
          <div class="clear"></div>
        </div>
        
      </div>
    <% end %>
    

    <div class="clear"></div>

    <div class="submit">
      <%= f.submit 'Update Settings', :class => 'btn tertiary_action' %>
    </div>     

    <div class="buttons">
      <p>Unhappy? <%= link_to "Cancel your account", registration_path(@profile), :data => { :'data-confirm' => "Are you SURE? This will remove all your pins, and is NOT reversible." }, :method => :delete, :class => 'delete' %>.</p>
    </div>

    <% end %>

  </div>

  <div class="clearfix"></div>

</div>