<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ParentPins - Interesting Pins Just for Parents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag "application.css", :media => "all" %>
    <%= stylesheet_link_tag "import.css", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="importing step_1">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="importing"><%= content_for?(:content) ? yield(:content) : yield %></div>
    <div class="clearfix"></div>
    <%# Note: application.js loads masonry, which throws errors even before called if loaded in iframe. Until that's fixed (new version?) loading jquery separately instead %>
    <%= javascript_include_tag false ? 'application' : 'jquery' %>
    <%= javascript_include_tag "import.js" %>
    <%= yield :footer_js %>
</body>
</html>
