<% provide :content do %>
  <%= render 'shared/profile_header' %>
  <div class="wrapper profile">

    <div class="info">

      <%= link_to image_tag(@profile.avatar.url, :alt => "#{@profile.name}'s avatar"), profile_path(@profile), :class => 'avatar' %>
      <h2><%= @profile.name %></h2>
      <%= render 'profile/follow_buttons', :to_follow => @profile %>      
      <%= render 'profile/feature_buttons', :user => @profile %>
      
      <ul class="nav_profile" data-profile-id="<%= @profile.id %>">
        <% if current_user == @profile %>
          <li><%= profile_nav_link :activity %></li>
        <% end %>
        <li><%= profile_nav_link :pins %></li>
        <li><%= profile_nav_link :boards %></li>
        <li><%= profile_nav_link :likes %></li>
        <li><%= profile_nav_link :following %></li>
        <li><%= profile_nav_link :followed_by %></li>
      </ul>

      <p class="info_section kid_count">Has <%= @profile.kids.to_i.zero? ? 'no kids' : pluralize(@profile.kids, 'kid', 'kids') %></p>
            
      <% if @profile.teacher? %>
        <p class="info_section teacher_info teacher_icon">
          <%= display_teacher_info @profile %>
        </p>
      <% end %>

      <% if @profile.featured? %>
        <p class="info_section featured_info featured_icon">
          Featured Pinner!
        </p>
      <% end %>
      
      <%= render 'profile/social_media', :profile => @profile %>

      <% unless @profile.bio.blank? %>
        <p class="bio"><%= auto_link @profile.bio, :html => { :target => '_blank' } %></p>
      <% end %>
    </div>

    <div class="profile_content_wrapper">
      <div class="content">
        <%= render 'shared/flash', :flash => flash %>
        <%= content_for?(:profile_content) ? yield(:profile_content) : yield %>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>