<% provide :content do %>
  <div class="sub_header_wrapper">
    <div class="push_cover_image"></div>
    <div class="sub_header_inner_wrapper">
      <% if current_user == @profile %>
        <a href="<%= edit_profile_path(@profile) %>#form_header" class="btn primary hover_link update_img"><%= current_user.cover_image? ? 'Change' : 'Add' %> Cover Image</a>
      <% end %>
      <div class="sub_header">
        <div class="cap-left">&nbsp;</div>
        <%= image_tag @profile.cover_image.url(:cropped), :class => 'cover_photo' %>
      </div>
    </div>
  </div>
  
  <div class="wrapper profile">

    <div class="info">

      <%= link_to image_tag(@profile.avatar.main.url, :alt => "#{@profile.name}'s avatar"), profile_path(@profile), :class => 'avatar' %>
      <h2><%= @profile.name %></h2>
      <%= render 'profile/follow_buttons', :to_follow => @profile %>      
      <%= render 'profile/feature_buttons', :user => @profile %>
      
      <div class="clear"></div>
      
      <div class="nav_profile_wrap">
        <ul class="nav_profile" data-profile-id="<%= @profile.id %>">
          <% if current_user == @profile %>
            <li><%= profile_nav_link :activity %></li>
          <% end %>
          <li class="visible-smallphone">
            <a href="#" class="about" data-toggle="collapse" data-target=".about-collapse">
              <span class="counter"></span>
              <span class="label">About</span>
            </a>
          </li>
          <li><%= profile_nav_link :pins %></li>
          <li><%= profile_nav_link :boards %></li>
          <li><%= profile_nav_link :likes %></li>
          <li><%= profile_nav_link :following %></li>
          <li><%= profile_nav_link :followed_by %></li>
        </ul>
      </div>

      <div class="about-collapse">
        <p class="info_section kid_count">Has <%= @profile.kids.to_i.zero? ? 'no kids' : pluralize(@profile.kids, 'kid', 'kids') %></p>

        <% if @profile.featured? %>
          <p class="info_section featured_info featured_icon">
            Featured Pinner!
          </p>
        <% end %>
    
        <% if @profile.teacher? %>
          <p class="info_section teacher_info teacher_icon">
            <%= display_teacher_info @profile %>
          </p>
        <% end %>
    
        <%= render 'profile/social_media', :profile => @profile %>

        <% unless @profile.bio.blank? %>
          <p class="bio"><%= auto_link @profile.bio, :html => { :target => '_blank' } %></p>
        <% end %>
      </div>
      
    </div>

    <div class="profile_content_wrapper">
      <div class="content">
        <% if @profile_header %>
          <div class="profile_header">
            <h1><%= @profile_header %></h1>
          </div>
        <% end %>
        <%= yield :pre_profile_content %>
        <%= render 'shared/flash', :flash => flash %>
        <%= content_for?(:profile_content) ? yield(:profile_content) : yield %>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>