<% provide :content do %>
  <%= render 'shared/profile_header' %>
  <div class="wrapper profile">

    <div class="info">
      <%= render 'profiles/follow_buttons', :to_follow => @profile %>

      <%= link_to image_tag(@profile.avatar.url, :alt => "#{@profile.name}'s avatar"), profile_path(@profile), :class => 'avatar' %>
      <h2><%= @profile.name %></h2>
      <ul class="nav_profile" data-profile-id="<%= @profile.id %>">
        <li><%= profile_nav_link :activity %></li>
        <li><%= profile_nav_link :pins %></li>
        <li><%= profile_nav_link :likes %></li>
        <li><%= profile_nav_link :boards %></li>
        <li><%= profile_nav_link :followers %></li>
        <li><%= profile_nav_link :following %></li>
      </ul>

      <p class="kid_count">Has <%= @profile.kids.to_i.zero? ? 'no kids' : pluralize(@profile.kids, 'kid', 'kids') %></p>

      <% unless @profile.bio.blank? %>
      <p class="bio"><%= @profile.bio %></p>
      <% end %>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="clearfix"></div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>